*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background:linear-gradient(50deg, rgb(223, 117, 223), white);
    background-attachment: fixed;
    
}
.contact-container{
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #910ba0;
    font-size: 40px;
}
.contact-left-title hr{
    border:none ;
    width: 180px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.Contact-inputs{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea {
    padding: 140px;
    padding-top: 20px;
    border-radius: 20px;

}
.Contact-inputs:focus{
    border: 2px solid #e312c0;
}
.contact-placeholder{
    color: #a9a9a9;
}
button{
    display: flex;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    margin-left: 120px;
    background: linear-gradient(#fa6fff, #250125);
    gap:10px;
    cursor: pointer;

}
button:hover{
    background: #e535c8;
}
.contact-container img{
    padding: 50px;
    align-items: right;
    border-radius: 150px;
    height: 30rem;
}
<!--to-do-list-->

.container{
 display: flex;
 padding: 20px 20px 20px 20px ;
 display: grid;
 grid-template-columns: 1fr 3fr;
 grid-gap:10px;
 padding: 10px;
}
#inputBox{
    width: 400px;
    height: 50px;
    padding: 8 12px;
    border-radius: 20px;
    resize: vertical;
    outline: none;
    font-size: 16px;
}
.todo{
    width:100rem;
    padding: 20px;
}
.container h2{
    margin-top: 20px;
    margin-left: 12rem;
    margin-bottom: 5px;
    font-weight: 700;
    color: #831586;
    font-size: 40px;

}
.row{
    display: flex;
    align-items: center;
    gap:10p;
    border-radius: 20px;
    margin-bottom: 15px;
    background: #fff;
    padding: 10px 20px;
    width: 75rem;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    margin-left: 10rem;
    height: auto;



}
.row button{
    outline: none;
    border: none;
    font-size: 16px;
    border-radius:50px;
    background: linear-gradient(#fa6fff, #250125);
    color: white;
    cursor: pointer;
    margin-left: auto;
}
#list-container{
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    padding-left: 0;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    width: 75rem;
    position: relative;
    padding:10px ;
    background: #eee;
    border-radius: 20px;
    margin-left: 10rem;
    margin-right: auto;
    max-width: 100rem;
}
li.checked{
    text-decoration: line-through;
    color: gray;
}
li span{
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: red;
}
footer{
    margin-left: 35rem;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media( max-width:768px)
 .contact-container{
    flex-direction: column;
    align-items:center;
 }



   
